*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

/* NAVBAR BOX 1*/
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    height: 50px;
    width: 130px;
}


.logo{
    background-image: url("amazon_logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* BOX 2*/

.add-first {
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 5px;
    
}

.add-icon{
    display: flex;
    align-items: center;
}

/* BOX 3*/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 35px;
    border-radius: 3px;
}

.nav-search:hover{
    border: 2.5px solid #f5a63f ;
}

.search-select{
    background-color: #f3f3f3;
    width: 45px;
    padding: 5px;
    border: none;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-input{
    width: 100%;
    font-size: 0.9rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f5a63f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* BOX 4*/

.search-country{
    background-color: #131921;
    color: white;
    border: none;
}

/* BOX 5 and 6*/

span{
    font-size: 0.8rem;
}

.nav-second{
    background-color: #131921;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

/* BOX 7*/

.nav-cart i{
    font-size: 35px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/*  PANNEL BOX 1*/

.pannel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-ops p{
    display: inline;
    margin-left: 15px;
    
}

.pannel-ops{
    width: 70%;
    font-size: 0.7remx;
}

.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/*HERO SECTION*/

.hero-section{
    background-image: url("image_nav1.jpg");
    background-size: cover;
    height: 350px;
    display: flex;   
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;

}

/*SHOPPING SECTION*/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(248, 42, 159, 0.751);
    /*background-image: url("image_back.jpg");
    background-size: cover;
    height: 350px;
    display: flex;*/
}

.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color:white;
    padding: 20px 0px 15px;
    border: none;
    margin-top: 15px;

}

.box-img{
    height: 300px;
    background-size: co;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 0.9rem;
    margin-right:1rem;
}

.box-content p{
    color: #007185;
}


.img-line1{
    background-image: url("image11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 215px;
    width: 1465px;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px;
    background-color:rgba(248, 42, 159, 0.751);
    left: 5px;
    right: 5px;
}

.img-line2{
    background-image: url("image12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 215px;
    width: 1465px;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px;
    background-color:rgba(248, 42, 159, 0.751);
    left: 5px;
    right: 5px;
}


/* FOOTER */
.foot-pannel1{
    background-color: #263545;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
/*FOOT2*/

.foot-main1{
    background-color: #1f2a37;
    height: 360px;
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.foot-msg1 p{
    color: #dddddd;
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: normal;
}


.foot-msg1 p:hover{
    text-decoration: underline;

}

.foot-msg1{
    color: #dddddd;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 240px;
    padding-top: 45px;    
}

.foot-msg2{
    color: #dddddd;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 100px;
    padding-top: 45px;    
}

.foot-msg2 p{
    color: #dddddd;
    font-size: 0.9rem;
    margin-left: 0px;
    margin-top: 15px;
    font-weight: normal;
}


.foot-msg2 p:hover{
    text-decoration: underline;
}

/*FOOT3*/

.foot-main2{
    height: 120px;
    background-color: #1f2a37;
    border-top: 2px solid #263545 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoo{
    background-image: url("amazon_logoo.jpg");
    background-size: cover;
    height: 55px;
    width: 120px;
}

.language{
        background-color: #1f2a37;
        width: 150px;
        padding: 5px;
        border: 1.5px solid gray;
        text-align: center;
        color: #dddddd;
        border-radius: 3px;
        margin-left: 70px;
        height: 35px;
}

.money{
    background-color: #1f2a37;
    border: 1.5px solid gray;
    text-align: center;
    color: #dddddd;
    border-radius: 3px;
    margin-left: 25px;
    width: 150px;
    padding-top: 7px;
    padding-bottom: 4px;
    height: 20px;
    font-size: 0.8rem;
}

.location{
    background-color: #1f2a37;
    border: 1.5px solid gray;
    text-align: center;
    color: #dddddd;
    border-radius: 3px;
    margin-left: 25px;
    width: 150px;
    padding-top: 7px;
    padding-bottom: 4px;
    height: 20px;
    font-size: 0.8rem;
}

.foot-main3{
    height: 100px;
    background-color: #131921;
    display: flex;
}


.msg1:hover{
    text-decoration: underline;
}

.msg1{
    color: #dddddd;
    margin-left: 240px;
    font-size: 0.7rem;
    padding-top: 30px;
}

.msg1 p{
    color: grey;
    font-size: 0.7rem;
}


.msg2:hover{
    text-decoration: underline;
}
.msg2{
    color: #dddddd;
    margin-left: 60px;
    font-size: 0.7rem;
    padding-top: 30px;
}

.msg2 p{
    color: grey;
    font-size: 0.7rem;
}

.foot-main4{
    background-color: #131921;
    height: 70px;
    color: #dddddd;
    font-size: 0.7rem;
    text-align: center;
    padding-bottom: 15px;
}

.pages1{
    font-size: 0.7rem;
    padding-top: 15px;
}

.pages1 a{
    padding-left: 15px;
}

.pages1:hover{
    text-decoration: underline;
}


.pages2{
    padding: 5px;
    
}





    